@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* list-style: none; */
  /* font-family: "Lato", sans-serif; */
  font-family: "Roboto", sans-serif;
}

body {
  /* background: #84868a; */
  font-size: 14px;
  line-height: 22px;
  color: #555555;
}

.bold {
  font-weight: 700;
  font-size: 20px;
  text-transform: uppercase;
}

.semi-bold {
  font-weight: 500;
  font-size: 16px;
}

a,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: inherit;
}

/* a {
  text-decoration: none;
} */

.resume {
  width: 800px;
  height: auto;
  display: flex;
  margin: 0 auto;
  display: grid;
}

.resume-top {
  background: #fff;
  width: 800px;
  padding: 60px 50px 15px 50px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  border-bottom: 1px solid;
  border-color: #199dc2;
}

.resume .resume-top .top-name {
  font-size: 50px;
  padding-bottom: 20px;
}

.resume-top .list-item {
  text-align: right;
}

.resume-top .list-item ul li {
  padding-bottom: 2px;
}

.resume-top .icon {
  float: right;
  padding-left: 5px;
  color: #199dc2;
}

.resume-body {
  background: #fff;
  width: 800px;
  padding: 30px 50px;
}

.resume-body .title {
  margin-bottom: 10px;
  color: #199dc2;
}

.resume-body .program-name {
  font-size: 17px;
  font-weight: bold;
}

.resume-body .stack {
  font-weight: normal !important;
  font-size: 14px !important;
  font-style: italic !important;
}

.resume-body .place-name {
  font-weight: bold;
}

.resume-body .date {
  font-size: 12px;
  font-style: italic;
}

.resume-body .link {
  font-size: 12px;
  color: #199dc2;
}

.resume-body .detail {
  padding: 0 5px 0 16px;
}

.resume-body .detail ul li:last-child {
  padding-bottom: 20px;
}

.resume-body .school-div {
  padding-bottom: 10px;
}

.resume-body .school-div-last {
  padding-bottom: 20px;
}

.resume-body .sub-title {
  font-weight: bold;
}

.resume-body .skill-detail {
  padding-bottom: 10px;
}

.resume-body .skill-div-last {
  padding-bottom: 20px;
}

.resume-body .project-div {
  margin-top: 100px;
}

.resume-body .ref {
  padding-bottom: 10px;
}

.resume-body .ref:last-child {
  margin-bottom: 500px;
}

.resume-body .ref-name {
  font-weight: bold;
}
